* text=auto

# Ignore stuff for export
/.github     export-ignore
/discard     export-ignore
/doc         export-ignore
/phpdocker   export-ignore
/examples    export-ignore
/temp        export-ignore
/tests       export-ignore
/vendor      export-ignore
