# Editor configuration
.idea/

# Setuptools, their dist folder
composer.phar
composer.lock
vendor/
build/
dist/

# checks
phpunit
phpunit-*
.phpunit.cache*
*.actual
*.expected

# external libs
temp/
tests/temp/
tests/external/
tests/data/clover.xml
discard/

# environment
docker-compose.yml
phpdocker/
