parameters:
    level: 9
    paths:
        - 'php-src'
    excludePaths:
        - 'php-tests/bootstrap.php'
        - 'php-tests/TestCase.php'
    bootstrapFiles:
        - 'php-tests/bootstrap.php'
    ignoreErrors:
        # strval, intval, floatval, boolval
        - '#Parameter \#1 \$va[rl]u?e? of function [sibf][tnol][rtoo][la]?t?val expects#'
        # WTF - can get object
        -
            message: '#Call to function is_object\(\) with array#'
            path: 'php-src/Validation/Exceptions/ValidationException.php'
        # WTF - problems with generics and LSP - it's ignored by phpstan
        -
            message: '#Class kalanis\\Restful\\Validation\\Error implements generic interface#'
            path: 'php-src/Validation/Error.php'
        # WTF - recursive call
        -
            message: '#Parameter \#1 \$data of method kalanis\\Restful\\Mapping\\XmlMapper\:\:toXml\(\) expects#'
            path: 'php-src/Mapping/XmlMapper.php'
        # WTF - deep structures - configs
        -
            message: '#Parameter \#2 \$config of method#'
            path: 'php-src/DI/RestfulExtension.php'
        # WTF - cannot see strval calls
        -
            message: '#Method kalanis\\Restful\\Application\\RouteListFactory\:\:parseClassRoutes\(\) should return#'
            path: 'php-src/Application/RouteListFactory.php'
        # WTF - expects array, got array
        -
            message: '#Parameter \#1 \$query of method#'
            path: 'php-src/Http/ApiRequestFactory.php'
