parameters:
	level: 9
	paths:
		- 'src'
	excludePaths:
		- 'tests/Drahak/bootstrap.php'
		- 'tests/Drahak/DatabaseTestCase.php'
		- 'tests/Drahak/TestCase.php'
	bootstrapFiles:
		- 'tests/Drahak/bootstrap.php'
